# <b><i>OBSERVATÓRIO PUC-CAMPINAS</i></b>

# BOLETIM COVID-19 RMC
***
### SCRIPT JUPYTER - CURVA EPIDEMIOLÓGICA PARA A REGIÃO METROPOLITANA DE CAMPINAS
***

In [74]:
import pandas as pd
import numpy as np

import plotly.express as px

import locale

locale.setlocale(locale.LC_TIME, 'pt_BR')

'pt_BR'

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/seade-R/dados-covid-sp/master/data/dados_covid_sp.csv", sep=";", decimal=",")

https://raw.githubusercontent.com/seade-R/dados-covid-sp/master/data/dados_covid_sp.csv

In [3]:
df.head()

,nome_munic,codigo_ibge,dia,mes,datahora,casos,casos_novos,casos_pc,casos_mm7d,obitos,...,nome_drs,cod_drs,pop,pop_60,area,map_leg,map_leg_s,latitude,longitude,semana_epidem
0,Adamantina,3500105,25,2,2020-02-25,0,0,0.0,0.0,0,...,Marília,5,33894,7398,41199,0,8.0,-21.6820,-51.0737,9.0
1,Adolfo,3500204,25,2,2020-02-25,0,0,0.0,0.0,0,...,São José do Rio Preto,15,3447,761,21106,0,8.0,-21.2325,-49.6451,9.0
2,Aguaí,3500303,25,2,2020-02-25,0,0,0.0,0.0,0,...,São João da Boa Vista,14,35608,5245,47455,0,8.0,-22.0572,-46.9735,9.0
3,Águas da Prata,3500402,25,2,2020-02-25,0,0,0.0,0.0,0,...,São João da Boa Vista,14,7797,1729,14267,0,8.0,-21.9319,-46.7176,9.0
4,Águas de Lindóia,3500501,25,2,2020-02-25,0,0,0.0,0.0,0,...,Campinas,3,18374,3275,6013,0,8.0,-22.4733,-46.6314,9.0

In [4]:
df['nome_drs'].unique()

array(['Marília', 'São José do Rio Preto', 'São João da Boa Vista',
       'Campinas', 'Bauru', 'Piracicaba', 'Sorocaba',
       'Presidente Prudente', 'Barretos', 'Ribeirão Preto', 'Araçatuba',
       'Araraquara', 'Taubaté', 'Franca', 'Grande São Paulo', 'Registro',
       'Baixada Santista', nan], dtype=object)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252586 entries, 0 to 252585
Data columns (total 26 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   nome_munic     252586 non-null  object
 1   codigo_ibge    252586 non-null  int64
 2   dia            252586 non-null  int64
 3   mes            252586 non-null  int64
 4   datahora       252586 non-null  object
 5   casos          252586 non-null  int64
 6   casos_novos    252586 non-null  int64
 7   casos_pc       252586 non-null  float64
 8   casos_mm7d     252586 non-null  float64
 9   obitos         252586 non-null  int64
 10  obitos_novos   252586 non-null  int64
 11  obitos_pc      252586 non-null  float64
 12  obitos_mm7d    252586 non-null  float64
 13  letalidade     252586 non-null  float64
 14  nome_ra        252195 non-null  object
 15  cod_ra         252586 non-null  int64
 16  nome_drs       252195 non-null  object
 17  cod_drs        252586 non-null  int64
 18  pop            252586 non-null  int64
 19  pop_60         252586 non-null  int64
 20  area           252586 non-null  int64
 21  map_leg        252195 non-null  object
 22  map_leg_s      252195 non-null  float64
 23  latitude       252586 non-null  float64
 24  longitude      252586 non-null  float64
 25  semana_epidem  200906 non-null  float64
dtypes: float64(9), int64(12), object(5)
memory usage: 50.1+ MB

In [6]:
# Selecionando as observações correspondentes a Campinas.
dfcps = df[df['codigo_ibge'] == 3509502]
print(dfcps.shape)

# Selecionando as observações correspondentes a Regiao Metropolitana de Campinas.
cod_rmc = [3501608, 3503802, 3509502, 3512803, 3515152, 3519055, 3519071,
           3520509, 3523404, 3524709, 3531803, 3532009, 3533403, 3536505,
           3537107, 3545803, 3548005, 3552403, 3556206, 3556701]

dfrmc = df[df['codigo_ibge'].isin(cod_rmc)]
print(dfrmc.shape)


# Selecionando as observações correspondentes ao Departamento de Saude
cod_dep_saude = [3500501, 3501608 ,3501905, 3503802, 3504107, 3507100, 3507605,
                 3508405, 3509502, 3509601, 3512803, 3519055, 3519071, 3520509,
                 3523404, 3524006, 3524709, 3525201, 3525508, 3525904, 3527009,
                 3527306, 3531209, 3531803, 3532009, 3532405, 3533403, 3536505,
                 3536802, 3537107, 3538204, 3538600, 3545803, 3548005, 3551603,
                 3552106, 3552403, 3554953, 3556206, 3556354, 3556503, 3556701]

df_dep_saude = df[df['codigo_ibge'].isin(cod_dep_saude)]
print(df_dep_saude.shape)


dfsp = df[df['codigo_ibge'] < 3600000]
print(dfsp.shape)

(391, 26)
(7820, 26)
(16422, 26)
(252195, 26)

In [7]:
dfcps = dfcps[['datahora', 'casos_novos', 'obitos_novos']]
dfcps.columns = ['date', 'newCases', 'newDeaths']


dfrmc = dfrmc[['datahora', 'casos_novos', 'obitos_novos']]
dfrmc.columns = ['date', 'newCases', 'newDeaths']

df_dep_saude = df_dep_saude[['datahora', 'casos_novos', 'obitos_novos']]
df_dep_saude.columns = ['date', 'newCases', 'newDeaths']

dfsp = dfsp[['datahora', 'casos_novos', 'obitos_novos']]
dfsp.columns = ['date', 'newCases', 'newDeaths']

In [8]:
dfcps['date'] = pd.to_datetime(dfcps['date'], format="%Y/%m/%d")

dfrmc['date'] = pd.to_datetime(dfrmc['date'], format="%Y/%m/%d")

df_dep_saude['date'] = pd.to_datetime(df_dep_saude['date'], format="%Y/%m/%d")

dfsp['date'] = pd.to_datetime(dfsp['date'], format="%Y/%m/%d")

In [9]:
dfcps_grouped = dfcps.groupby(by = "date", sort=True).sum().reset_index(drop=False)

dfrmc_grouped = dfrmc.groupby(by = "date", sort=True).sum().reset_index(drop=False)

df_ds_grouped = df_dep_saude.groupby(by = "date", sort=True).sum().reset_index(drop=False)

dfsp_grouped = dfsp.groupby(by = "date", sort=True).sum().reset_index(drop=False)
dfsp_grouped.tail()

          date  newCases  newDeaths
386 2021-03-17     17926        617
387 2021-03-18     17501        659
388 2021-03-19     18671        618
389 2021-03-20     18018        622
390 2021-03-21      8289        145

In [10]:
dfcps_gweek = dfcps_grouped.groupby(pd.Grouper(key = 'date', freq = 'W-SAT')).sum().reset_index().sort_values('date')

dfrmc_gweek = dfrmc_grouped.groupby(pd.Grouper(key = 'date', freq = 'W-SAT')).sum().reset_index().sort_values('date')

df_ds_gweek = df_ds_grouped.groupby(pd.Grouper(key = 'date', freq = 'W-SAT')).sum().reset_index().sort_values('date')
df_ds_gweek

         date  newCases  newDeaths
0  2020-02-29         0          0
1  2020-03-07         0          0
2  2020-03-14         0          0
3  2020-03-21         3          0
4  2020-03-28         9          0
5  2020-04-04        40          5
6  2020-04-11       139          9
7  2020-04-18       210         16
8  2020-04-25       195         27
9  2020-05-02       421         21
10 2020-05-09       571         32
11 2020-05-16       871         27
12 2020-05-23      1076         52
13 2020-05-30      1396         61
14 2020-06-06      2272         92
15 2020-06-13      2490        106
16 2020-06-20      4262        167
17 2020-06-27      5095        182
18 2020-07-04      5300        178
19 2020-07-11      6731        212
20 2020-07-18      5190        214
21 2020-07-25      8576        250
22 2020-08-01      9357        231
23 2020-08-08      9035        242
24 2020-08-15      9907        223
25 2020-08-22      6174        181
26 2020-08-29      6300        159
27 2020-09-05      5893        166
28 2020-09-12      3870        123
29 2020-09-19      4051        149
30 2020-09-26      4062        123
31 2020-10-03      2549         78
32 2020-10-10      2925        153
33 2020-10-17      2681         71
34 2020-10-24      2335         49
35 2020-10-31      2164         51
36 2020-11-07       856         22
37 2020-11-14      3857         52
38 2020-11-21      3578         45
39 2020-11-28      2961         51
40 2020-12-05      6224         76
41 2020-12-12      6064         69
42 2020-12-19      6920         93
43 2020-12-26      4963         68
44 2021-01-02      5168        106
45 2021-01-09      8259        137
46 2021-01-16      9526        139
47 2021-01-23      8331        128
48 2021-01-30      8555        140
49 2021-02-06      7270        137
50 2021-02-13      7729        159
51 2021-02-20      6460        140
52 2021-02-27      7033        173
53 2021-03-06      7363        176
54 2021-03-13     10343        285
55 2021-03-20     11641        386
56 2021-03-27       998         42

In [11]:
todays_date = pd.to_datetime("today")
todays_date = pd.to_datetime(todays_date.strftime(format="%d/%m/%Y"), format="%d/%m/%Y")

In [12]:
todays_date

Timestamp('2021-03-21 00:00:00')

In [13]:
last_obs = df_ds_gweek[-1:]['date']
last_obs_index = last_obs.index
last_obs = last_obs.item()

if last_obs > todays_date:
    df_ds_gweek.drop(last_obs_index, axis=0, inplace=True)
    dfrmc_gweek.drop(last_obs_index, axis=0, inplace=True)
    dfcps_gweek.drop(last_obs_index, axis=0, inplace=True)

In [14]:
df_ds_gweek['level'] = 'DRS'
dfrmc_gweek['level'] = 'RMC'
dfcps_gweek['level'] = 'Campinas'

In [15]:
dff = df_ds_gweek.append(dfrmc_gweek.append(dfcps_gweek, ignore_index=True), ignore_index=True)

In [16]:
dff

          date  newCases  newDeaths     level
0   2020-02-29         0          0       DRS
1   2020-03-07         0          0       DRS
2   2020-03-14         0          0       DRS
3   2020-03-21         3          0       DRS
4   2020-03-28         9          0       DRS
..         ...       ...        ...       ...
163 2021-02-20      1494         49  Campinas
164 2021-02-27      1638         60  Campinas
165 2021-03-06      1740         75  Campinas
166 2021-03-13      2070         68  Campinas
167 2021-03-20      2151        132  Campinas

[168 rows x 4 columns]

In [17]:
dff_casos = dff.loc[:, ['date', 'level', 'newCases']]
dff_obitos = dff.loc[:, ['date', 'level', 'newDeaths']]
del dff

In [101]:
pltblue = '#0072b2'
pltred = '#d55e00'
pltgreen = '#009e74'

In [108]:
fig = px.bar(dff_casos, x='date', y='newCases', color='level', text='newCases',
             title='<i><b>CURVA EPIDEMIOLÓGICA<br>OBSERVATÓRIO PUC-CAMPINAS | NOVOS CASOS</b></i>',
             color_discrete_map={'DRS': pltred, 'RMC': pltgreen, 'Campinas': pltblue})

fig.update_layout(
    margin={'t': 117},
    xaxis={
        'title': {'text': ''},
        'tickfont': {'size': 22},
        'tickformat': '%m/%Y',
        'ticks': 'outside',
        'ticklen': 10
    },
    yaxis={
        'title': {
            'text': '<b>NOVOS CASOS POR SEMANA DE NOTIFICAÇÃO</b>',
            'font':{'size': 20},
            'standoff': 0
        },
        'tickfont': {'size': 20}
    },
    legend = {
        'orientation': "h",
        'yanchor': "bottom",
        'y': 1,
        'xanchor': "right",
        'x': 1,
        'title': '',
        'font': {'size': 32}
    },
    title={
        'y':0.9549,
        'x':0.109,
        'xanchor': 'left',
        'yanchor': 'top',
        'font': {
            'size': 40
        }
    }
)

fig.add_layout_image(
    dict(
        source="https://raw.githubusercontent.com/n1cholas-rnlpr/Epidemiology_Curves_COVID_GreaterCampinas/master/logo_observatorio_pucc.png",
        xref="paper", yref="paper",
        x=0.061, y=1.0054,
        sizex=0.12, sizey=0.12,
        xanchor="right", yanchor="bottom"
    )
)

fig.write_image('latest_casos_curva.png', width=1920, height=1080, scale=3)
fig.write_image(f"graph_history\\casos_{todays_date.strftime('%d_%m_%y')}.png", width=1920, height=1080, scale=3)

In [107]:
fig = px.bar(dff_obitos, x='date', y='newDeaths', color='level', text='newDeaths',
             title='<i><b>CURVA EPIDEMIOLÓGICA<br>OBSERVATÓRIO PUC-CAMPINAS | NOVOS OBITOS</b></i>',
             color_discrete_map={'DRS': pltred, 'RMC': pltgreen, 'Campinas': pltblue})

fig.update_layout(
    margin={'t': 117},
    xaxis={
        'title': {'text': ''},
        'tickfont': {'size': 22},
        'tickformat': '%m/%Y',
        'ticks': 'outside',
        'ticklen': 10
    },
    yaxis={
        'title': {
            'text': '<b>NOVOS ÓBITOS POR SEMANA DE NOTIFICAÇÃO</b>',
            'font':{'size': 20},
            'standoff': 0
        },
        'tickfont': {'size': 20}
    },
    legend = {
        'orientation': "h",
        'yanchor': "bottom",
        'y': 1,
        'xanchor': "right",
        'x': 1,
        'title': '',
        'font': {'size': 32}
    },
    title={
        'y':0.9549,
        'x':0.109,
        'xanchor': 'left',
        'yanchor': 'top',
        'font': {
            'size': 40
        }
    }
)

fig.add_layout_image(
    dict(
        source="https://raw.githubusercontent.com/n1cholas-rnlpr/Epidemiology_Curves_COVID_GreaterCampinas/master/logo_observatorio_pucc.png",
        xref="paper", yref="paper",
        x=0.061, y=1.0054,
        sizex=0.12, sizey=0.12,
        xanchor="right", yanchor="bottom"
    )
)

fig.write_image('latest_obitos_curva.png', width=1920, height=1080, scale=3)
fig.write_image(f"graph_history\\obitos_{todays_date.strftime('%d_%m_%y')}.png", width=1920, height=1080, scale=3)